<md-toolbar color="primary">
  <span>{{ name }}</span>
  <nav>
    <ul>
      <li router-active>
        <a [routerLink]=" ['Main'] ">Main</a>
      </li>
      <li router-active>
        <a [routerLink]=" ['Users']">ユーザ</a>
      </li>
      <li router-active>
        <a [routerLink]=" ['Dynamic']">Dynamic</a>
      </li>
      <li router-active>
        <a [routerLink]=" ['Home'] ">Home</a>
      </li>
      <li router-active>
        <a [routerLink]=" ['About'] ">About</a>
      </li>
    </ul>
  </nav>
</md-toolbar>

<main>
  <router-outlet></router-outlet>
</main>

<pre>this.appState.state = {{ appState.state | json }}</pre>

<footer>
  WebPack Angular 2 Starter by <a [href]="url">@AngularClass</a>
</footer>
