<md-card>
  <md-card-content>
    <span x-large>ユーザー登録</span>

    <!-- form #f="ngForm" (ngSubmit)="submitState(localState.value)" autocomplete="on"-->
    <form *ngIf="active" (ngSubmit)="onSubmit()" #userForm="ngForm">

      <!--md-input placeholder="氏名" [value]="localState.value"
                (input)="name = $event.target.value" autofocus>
      </md-input>
      <br />
      <div class="field"
           [class.error]="!myForm.find('email').valid && myForm.find('email').touched">
       <md-input placeholder="FormBuilder.name" [ngFormControl]="myForm.controls['name']"></md-input>
       <md-input placeholder="FormBuilder.email" [ngFormControl]="myForm.controls['email']"
        #email="ngForm"></md-input>
      </div>
      <div *ngIf="!myForm.valid">Emailが正しくありません</div-->

      <div class="form-group">
        <md-input required [(ngModel)]="model.name" ngControl="name" #name="ngForm" placeholder="氏名"></md-input>
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">名前が正しくありません</div>
      </div>
      <div class="form-group">
        <md-input required [(ngModel)]="model.email" ngControl="email" #email="ngForm" placeholder="Email"></md-input>
      </div>
      <br/>
      <button md-raised-button [disabled]="!userForm.form.valid" color="primary">登録</button>
      <button md-raised-button class="btn btn-default" (click)="newUser()">New User</button>
    </form>
  </md-card-content>
</md-card>
<md-card>
  <md-card-content>
    <pre>{{this || json}}</pre>
  </md-card-content>
</md-card>
