<strong>Angular2のフォームで入力チェック、CSS設定</strong>
<!--
<form (submit)="saveUser()" [ngFormModel]="userForm">
  <div class="form-group">
    <label>会員名（必須項目、半角英大文字、数値5～10文字）</label>
  </div>
  <div class="form-group">
    <label>メールアドレス（必須項目、メールフォーマットチェック）</label>8
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">登録</button>
  </div>
</form>
-->
<div class="well">
  <section>
    <strong>入力内容</strong><br/>
    {{user | json}}
  </section>
  <br/>
  <section>
    <div *ngIf="user">
      <h3>{{user.name}}</h3>
      <label>id:{{user.id}}</label>
      <br />
      <input [(ngModel)]="user.name" placeholder="氏名" />
      <p>
        <button (click)="gotoUsers()">一覧に戻る</button>
      </p>
    </div>
  </section>
</div>
